body{
    background-color: #b2cdd4;
}
.box {
    max-width: 700px;
    margin: 50px auto;
    padding: 40px;
    background: #fff;
    backdrop-filter: blur (20px);
    border: 2px solid #0e0d0d; /* Add border with primary color */
    border-radius: 30px; /* Add border radius for rounded corners */
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.1),
    -2px - 0px 15px 2px rgba(0,0,0,0.1);
    z-index: 10; /* Add box shadow for depth */
}
